.iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
}

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Padding bottom by footer height */
  padding-bottom: 80px;
  background-color: rgb(247, 226, 202);
}

p {
  font-size: larger;
  font-style: normal;
}


.footer {
  position: fixed;
  bottom: 0;
  width: 100%; /* Set the fixed height of the footer here */
  /* height: 10px; */
  /* padding-top: 20px; */
  /* padding-bottom: 40px; */
  /* text-align: center; */
  right: 0;
  left: 0;
  /* min-height: 100px; */
  text-align: center;
  background-color: #f5f5f5;
}

.footer > .bottom {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
}

.footer > .footer-data {
  position: right
}

/* #footer p {
  margin: 0;
  font-size: 16px;
} */

.form-control-primary {
  margin: 10px;
  opacity: 0.2;
  border-radius: 2px;
}

.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  padding: 70px 0 0 10px;
  border-right: 1px solid #d3d3d3;
}

.left-sidebar {
  position: sticky;
  top:0;
  height: calc(100vh - 70px)
}

.sidebar-nav li .nav-link {
  color: #333;
  font-weight: 500;
}

.jumbotron {
  padding: 10px;
}

/* Jumbotron image and text */
.hero {
  background: url('../img/US_Capitol_west_side.jpeg') no-repeat center center;
  background-size: cover;
  /* height: 50%; */
  position: relative;
  height: 550px;
  padding: 20px;
  margin: 0;
}

#jumbotron-title {
  padding-top: 70px;
  color: white;
}

/* Button group */
.bottom-left { 
  bottom: 0; 
  left: 0;
  margin-bottom: 10px;
  margin-left: 10px;
} 

.bottom-center { 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%);
  margin-bottom: 10px; 
} 
.bottom-right { 
  bottom: 0; 
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
} 

.btn-secondary {
  background-color: #5a2d2d;
}

/* Navbar */
.bg-primary {
  background-color: rgb(170, 21, 51)!important;
}

.bg-light {
  background-color: rgb(247, 226, 202)!important;
}

.nav-link {
  color: white;
}

/* Mobile Rules */
@media screen and (max-width: 575px) {
  #jumbotron-title {
    font-size: 1.75rem;
  }
}

/* About Page CSS */
.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav-pills > .nav-link.active {
  background-color: #dc3545!important;
}


.bg-1 {
  background-color: rgb(47, 47, 168);
  color: white;
  margin-top: 10px;
}

.bg-2 {
  background-color: rgb(107, 93, 93);
  color: white;
  margin-top: 10px;
}