<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>About</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="stylesheet" href="../static/css/d3Style.css">
        <meta name="description" content="117th Congress United States Senate">
        <meta name="keywords" content="Civil, Services, Local, Government, 117th Congress United States Senate" />
        <meta name="dc:source" content="https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-detail.html">
    </head>


    <body>
        <!-- NAVBAR -->

        <nav class="navbar navbar-dark bg-primary fixed-top flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Slithering Senate Salamaders Dashboard</a>

            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </nav>

        <!-- Jumbotron -->
        <div class="jumbotron hero">
            <div class="container">
                <div class="col-12 text-center">
                    <h1 id="jumbotron-title">Senate Reform</h1>
                </div>
            </div>
            <div class="row position-absolute bottom-right">
                <div class="col-md-12">
                    <p><font size="-2" color="white">Photo Credit: Martin Falbisoner</font></p>
                </div>
            </div>
        </div>
        <!-- About Section blurbs -->
        <div class="container-fluid bg-1 text-center">
            <h3><strong>About Our Project</strong></h3>
            <br>
            <div class="row">
                <div class="col-sm-4">
                    <p>The Inspiration</p>
                    <hr color="black">  
                    <p>By comparing how representative the current Senate is to the United States 
                        as a whole, we sought out to explore what some key Senate Reform proposals
                        would look like.</p>
                </div>
                <div class="col-sm-4">
                    <p>The Team</p>
                    <hr color="black"> 
                    <p>Steven Brown, William Enriquez, Michelle Risucci,
                        Isabelle Sanford, Kosal Sieng</p>
                    <p>USC Viterbi School of Engineering - Data Visualization</p>
                </div>
                <div class="col-sm-4">
                    <p>The Repo</p>
                    <hr color="black"> 
                    <a href="https://github.com/isabelle-sanford/senate-analysis.git">View our code here!</a>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-2 text-center">
            <h3><strong>The Data</strong></h3>
            <br>
            <p>United States Census:</p>
            <a href="https://www.census.gov/data/tables/time-series/demo/popest/2010s-counties-total.html">Population Estimates</a>
            <a href="https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-detail.html">Demographics by Age, Gender and Race </a>
            <br>
            <br>
            <p>Pew Research Forum:</p>
            <a href="https://www.pewresearch.org/">Religion by State</a>
            <br>
            <br>
            <p>Wikipedia</p>
            <a href="https://en.wikipedia.org/wiki/List_of_current_United_States_senators">117th Senate List</a>
        </div>
        

        <footer class="footer">
            <span class="bottom">Slithering Senate Salamanders | U.S.C Data Visualization and Analytics</span>
            <a class="footer-data" href="#" title="Download Open Source Senate Data"><i class="fa fa-fw fa-2x fa-cloud-download"></i><span>Download Data</span></a>
        </footer>
        

        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script type="text/javascript" src="../static/js/functions.js"></script>
        <script type="text/javascript" src="../static/js/plots.js"></script>
        <script type="text/javascript" src="../static/js/app.js"></script>

    </body>

</html>

<!-- photo credit for jumbotron -->
<!-- By Martin Falbisoner - &lt;span class=&quot;int-own-work&quot; lang=&quot;en&quot;&gt;Own work&lt;/span&gt;, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=28359031">Link</a> -->