<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Why The Senate Needs Reform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <!-- <link rel="stylesheet" href="./dashboard.css" >  -->
    <!-- what is this ^ ?? -->
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/d3Style.css">
    <meta name="description" content="Problems with the 117th Senate">
    <meta name="keywords" content="Civil, Services, Local, Government, 117th Congress United States Senate" />
    <meta name="dc:source" content="https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-detail.html">
  </head>


  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-dark bg-primary fixed-top flex-md-nowrap shadow p-0 m-0">
        <div class="container-fluid my-0 py-0">
            <a class="navbar-brand" href="index.html">Reform the Senate</a>

            <a class="nav-link nav-item" href="templates/about.html">About</a>
        </div>
    </nav>

    <!-- TITLE / CAPITOL PIC -->
    <div class="jumbotron hero ">
        <div class="container">
            <div class="col-12 text-center">
                <h1 id="jumbotron-title">Senate Reform: Why the Senate Doesn't Represent the US</h1>
            </div>
        </div>
        
        <div class="row position-absolute bottom-right">
            <div class="col-md-12">
                <p><size="-2" color="white">Photo Credit: Martin Falbisoner</font></p>
            </div>
        </div>
    </div>

    <!-- INTRODUCTION -->
    <!-- header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-1">
                    <h1 class="bg-1 text-center">Introduction</h1>
                </div>
            </div>
        </div> 
    </div>
    <!-- text -->
    <div class="container"> 
        <div class="row">
            <div class="col-12">
                <p> 
                The United States Senate is the upper chamber of the United States Congress, which along with the House of Representatives 
                constitutes the legislature of the United States. The Senate is currently composed of 100 senators, two for each state. They 
                serve staggered terms of six years.  <br><br>

                The Senate has unique advice and consent power to ratify treaties, declare war (theoretically), and confirm Cabinet Secretaries, 
                Supreme Court Justices, federal judges, ambassadors, and other officials. It also conducts impeachment trials and, of course, 
                makes law. It is designed to protect the power of individual states, and particularly smaller states with less representation
                in the House of Representatives. <br><br>

                Given the amount of power and influence that the Senate wields, it is important to ensure that it appropriately represents 
                the American people. This page is intended to show some ways in which it is falling short of that ideal. 
                </p>
            </div>
        </div>

        <hr>
    </div>

    <!-- DEMOGRAPHIC PLOTS -->
    <!-- header -->
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-2">
                    <h1 class="text-center">Who They Are</h1>
                </div>
            </div>
        </div> 
    </div>


    <!-- POPULATION & PARTY REPRESENTATION -->
    <!-- header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-2">
                    <h1 class="text-center">Who They Represent</h1>
                </div>
            </div>
        </div> 
    </div>

    <div class="container">
        <!-- population proportions bar section -->
        <div class="row">
            <!-- text  -->
            <div class="col-12">
                <p>
                    TEXT
                </p>
            </div>

        </div><hr>

        <!-- colonies comparison section -->
        <div class="row">
            <!-- text -->
            <div class="col-6">
                <p>
                    <br><br>
                    TEXT
                </p>
            </div>
            <div class="col-6">
                <div id="colonies-bar"></div>
            </div>
        </div>

        <!-- partisanship section -->
        <div class="row">
            <div class="col-4">
                <div id="IS-bar"></div>
            </div>
            <!-- text -->
            <div class="col-8">
                <p>
                    TEXT
                </p><br>
            </div>
        </div>
        
        <!-- conclusion -->
        <div class="row">
            <div class="col-12">
                <p>
                    TEXT
                    
                </p>
            </div>
        </div>

    </div>


    <!-- CONCLUSION -->
    <!-- header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-2">
                    <h1 class="text-center">Why It Matters</h1>
                </div>
            </div>
        </div> 
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    TEXT
                </p>
            </div> 

            <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-blue btn-lg">Find out when I finish my paper on the subject! :)</button>
            </div>
        </div>  
    </div>


    <!-- FOOTER -->
    <footer class="footer">
      <span class="bottom">Isabelle Sanford  |</span>
      <!-- <a class="footer-data" href="https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-detail.html" target="_blank" title="Download Open Source Senate Data"><i class="fa fa-fw fa-2x fa-cloud-download"></i><span>Download Data</span></a> -->
      <a class="footer-data" href="templates/about" title="Download Open Source Senate Data"><i class="fa fa-fw fa-2x fa-cloud-download"></i><span>Sources & Data</span></a>
      <!-- commented out census link and point href to data.html page -->
      <!-- target="_blank" opens data page in new tab >>> remove if we keep href as data.html -->
    </footer>


        
    <!-- SCRIPTS -->
    <!-- bootstrap? -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- MINE -->




  </body>

</html>

<!-- photo credit for jumbotron -->
<!-- By Martin Falbisoner - &lt;span class=&quot;int-own-work&quot; lang=&quot;en&quot;&gt;Own work&lt;/span&gt;, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=28359031">Link</a> -->