<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Why The Senate Needs Reform</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
      <!-- <link rel="stylesheet" href="./dashboard.css" >  -->
    <!-- what is this ^ ?? -->
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/d3Style.css">
    <meta name="description" content="Problems with the 117th Senate">
    <meta name="keywords" content="Civil, Services, Local, Government, 117th Congress United States Senate" />
    <meta name="dc:source" content="https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-detail.html">
  </head>


  <body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-dark bg-primary fixed-top flex-md-nowrap shadow p-0 m-0">
        <div class="container-fluid my-0 py-0">
            <a class="navbar-brand" href="../index.html">Reform the Senate</a>

            <a class="nav-link nav-item" href="about.html">About</a>
        </div>
    </nav>

    <!-- TITLE / CAPITOL PIC -->
    <div class="jumbotron hero ">
        <div class="container">
            <div class="col-12 text-center">
                <h1 id="jumbotron-title">Senate Reform: What To Do About the Senate</h1>
            </div>
        </div>
        
        <div class="row position-absolute bottom-right">
            <div class="col-md-12">
                <p><size="-2" color="white">Photo Credit: Martin Falbisoner</font></p>
            </div>
        </div>
    </div>

    <!-- INTRODUCTION -->
    <!-- header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-1">
                    <h1 class="bg-1 text-center">Introduction: Why the Senate is Broken</h1>
                </div>
            </div>
        </div> 
    </div>
    <!-- text -->
    <div class="container"> 
        <div class="row">
            <div class="col-12">
                <p> 
                    The U.S. Senate is the least representative body of its kind in the world. [source, source, source] If it were a senate for a particular state, [the Supreme Court would strike it down as unconstitutional]. And it has been growing less functional for the past [X]. 
                    <br>
                    I go over the Senate’s problems in detail [on this page], so I will only briefly summarize them here. The senate is:

                    <br>
                    <ul>
                        <li>
                            Unrepresentative of diversity by race/gender/religion/etc
                        </li>
                        <li>
                            Unrepresentative of the US population by party (which has been growing worse in recent years)
                        </li>
                        <li>
                            Unequally representative of citizens; a vote in Wyoming is 67 times more important than one in California
                        </li>
                        <li>
                            Most states have become reliably only one party, which results in fewer resources spent there for campaigns and in Congress
                        </li>
                        <li>
                            Smaller states get more funding per capita than big states reliably because of that small state bias
                        </li>
                        <li>
                            campaign stuff idk
                        </li>
                    </ul>
                    <br>
                    <h3>HISTORY</h3><br>
                    <p>
                        The Senate was created in 1787 at the first and only Constitutional Convention. It is a result of one of the two major compromises made there, sharing that dubious distinction with the now-removed 
                        <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwit4fOaiunwAhWTsJ4KHbaoBOUQFjABegQICBAD&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FThree-fifths_Compromise&usg=AOvVaw2S0_Wwspo_Jvk7oDE0-cYM">
                        3/5ths Compromise</a>. 
                        Smaller states threatened to walk out of the convention if they were not given equal representation, and the Senate was the result. This was more palatable at the time that it is now, with the largest state being only about ten times the size of the smallest (it’s now [68 to 1]) but even then several of the Founding Fathers were deeply unhappy with it. [relevant James Madison quote]
                    </p>
                    <br><br>
                    <h3>SUMMARY</h3><br>
                    <p>
                        The Senate has unique advice and consent power to ratify treaties, declare war, and confirm Cabinet Secretaries, Supreme Court Justices, federal judges, and other officials. It also conducts impeachment trials and, of course, makes law.
                    </p>
                    <br>            
            
                </p>
            </div>
        </div>

        <hr>
    </div>

    <!-- SOLUTIONS -->
    <!-- header -->
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-2">
                    <h1 class="text-center">Solutions: Ways to Fix the Senate</h1>
                </div>
            </div>
        </div> 
    </div>
    <!-- text -->
    <div class="container">

        <div class="row">
            <div class="col-12">
                <p>
                    This part lays out several solutions in turn for proposed ways to fix the senate, in approximate order of current political feasibility. Note that most solutions are not mutually exclusive with each other. The summaries are short, but this is a reasonably comprehensive list of suggested options. 
                </p>
            </div> 
        </div>  

        <!-- DC/PR statehood -->
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-blue">
                    <h2 class="text-center">Statehood for D.C. and Puerto Rico</h1>
                </div>
            </div>
            <div class="col-12">
                <p>
                    DESCRIPTION: Admit Puerto Rico and Washington D.C. to the Union. This is currently popular, and mainly helps diversify the Senate and correct for overrepresentation of white people (DC is idk 60% black, PR is 98% Hispanic).
                    <br>Proponents: Lots of people, idk
                    <br>Feasibility: Very! Might be a bill in Congress rn? Good chance for happening in the next couple years
                    <br>What it fixes: A small amount of the lack of representation, particularly for racial diversity, plus their own taxation without representation stuff
                    <br>Partisanship: Clearly benefits the Democrats, particularly DC, which is some ridiculous percent blue. That’s why it’s popular right now
                    <br>Read more: 
                    
                </p>
            </div> 
        </div>  

        <!-- FILIBUSTER -->
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-blue">
                    <h2 class="text-center">The Filibuster: Two (and a half) Paths</h1>
                </div>
            </div>
            <div class="col-12">
                <p>
                    The filibuster is a controversial procedural rule in the Senate. Essentially, to close debate and vote on a bill, 60 senators must vote for ‘cloture’. This effectively sets the bar for passing legislation at 60, even though bills themselves only require a simple majority.
                    <br>
                    The filibuster was an accident of history. It was the inadvertent result of [small changes to the Senate rules], only discovered [decades later], and has most notably been used to [prevent civil rights legislation]. Importantly, it can be removed or modified at any time by a simple majority. The Senate sets its own rules, and in fact there are already a few 
                    <a href="http://dx.doi.org/10.1080/07343469.2018.1558674">
                        exceptions to the filibuster</a>.
                </p>
            </div> 
            <div class="col-12">
                <h3>Make Them Talk</h3>
                <p>
                    Alter the filibuster so that it is not an automatic process and require senators to waste time talking to prevent cloture. This makes it more painful to use, less likely to be used on small bills, and importantly Joe Manchin and Kyrsten Sinema have expressed some interest in the notion.
                    <br>Proponents:
                    <br>Feasibility: Only requires 50 Democratic senators on board 
                    <br>What it fixes: Some of the current inefficiency; minority stranglehold on politics
                    <br>Partisanship: Currently favors Democrats; equal in the longer term
                    <br>Read more:                     
                </p>
            </div>
            <div class="col-12">
                <h3>Nuke the Filibuster</h3>
                <p>
                    Remove the filibuster altogether.  <br>
                    Proponents: <br>
                    Feasibility: Requires 50 senators’ votes <br>
                    What it fixes: Inefficiency, minority stranglehold <br>
                    Partisanship: same as above <br>
                    Read more: 
                    
                </p>
            </div>
            <div class="col-12">
                <h3>Change the Filibuster to be Pro-Majoritarian</h3>
                <p>
                    This proposal is the most interesting and least well-known around dealing with the filibuster. It is covered in much greater detail in the next section, but in summary.
                </p>
            </div>
        </div>  

        <!-- Election & finance -->
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-blue">
                    <h2 class="text-center">Election & Campaign Finance Reform</h1>
                </div>
            </div>
            <div class="col-12">
                <p>
                    Some of the Senate’s problems result from how we run our elections. There are a lot of proposed reforms in this area, so this is not comprehensive.                
                </p>
            </div> 
            <div class="col-12">
                <h3>HR1</h3>
                <p>
                    HR1, the 
                    <a href="https://www.congress.gov/bill/117th-congress/senate-bill/1/text">
                        For the People Act of 2021</a>,
                    is an omnibus voting and campaign finance reform bill. It has already passed the House, and is currently stalled in the Senate. An overview:
                    <ul>
                        <li>
                            Election integrity – gerrymandering ban, protections for minority and disenfranchised communities
                        </li>
                        <li>
                            Voting access/rights – modernize registration, expand vote by mail, restore felon voting rights
                        </li>
                        <li>
                            Campaign finance reporting – protect against foreign influence, increase transparency in ads and donations
                        </li>
                    </ul>                 
                </p>
            </div>
            <div class="col-12">
                <h3>Other</h3>
                <p>
                    For an overview of a bunch of different reforms in this area, try 
                    <a href="https://www.cambridge.org/core/books/economic-realities-of-political-reform/4B15DB66F8C5F2921487B325AC7B068F#fndtn-contents">
                        Economic Realities of Political Reform</a>.
                    Although somewhat dated, in 1976 the Senate released a 
                    <a href="https://www.senate.gov/artandhistory/history/minute/Senate_reform_commission.htm">
                    report</a> 
                    with very detailed recommendations. A few more radical reforms in this area:
                    <ul>
                        <li>
                            Elect Senators with 
                            <a href="https://ballotpedia.org/Ranked-choice_voting_(RCV)">
                            Ranked Choice Voting</a>
                        </li>
                        <li>
                            Publicly fund elections
                        </li>
                    </ul>
                </p>
            </div>
        </div>  

        <!-- Reallocate Senate Seats -->
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-blue">
                    <h2 class="text-center">Reallocate Senate Seats</h1>
                </div>
            </div>
            <div class="col-12">
                <p>
                    There are a few ideas for reallocating Senate seats or changing the makeup of the Senate to make it more representative and democratic. One of those is [covered in detail below], but others include:
                    <ul>
                        <li>
                            Add 100 senators allocated using 
                            <a href="https://en.wikipedia.org/wiki/Mixed-member_proportional_representation">
                            MMP</a>
                            voting. (This is somewhat similar to the Senate Reform Act below, but MMP voting is a whole extra layer of interesting and complicated.) 
                        </li>
                        <li>
                            Feasibility: constitutional amendment/convention
                        </li>
                        <li>
                            [find source] Keep the seats themselves exactly the same, but change voting rules in the Senate such that each senator’s vote counts for as many ‘points’ as there are people in their state, and passing a bill requires getting the support of over half the total points/population
                        </li>
                        <li>
                            Feasibility: only requires changing senate rules! so on a practical level not bad, just convince a majority to do it
                        </li>
                    </ul>

                </p>
            </div> 
        </div>  

        <!-- Redraw the Map -->
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-blue">
                    <h2 class="text-center">Redraw the Map</h1>
                </div>
            </div>
            <div class="col-12">
                <p>
                    An alternative way to make Senate seats more representative would be to alter current state lines in some way to be more evenly distributed in population. 
                </p>
            </div> 
            <div class="col-12">
                <h3>Divide and Combine</h3>
                <p>
                    Burt Neuborne suggests dividing states. [Five states] have been created and admitted to the Union in that way, and the process is the same (except the pre-division state legislature must consent). Congress could allow any state above a certain population (maybe 20x the smallest state) to divide into two separate states. 
                    <br>Kristin Eberhard proposes combining states as well as dividing them. There are 21 states which each comprise less than 1% of the national population, many of which are adjacent. Allowing them to combine would increase their House representation, population, and power compared to the other states.
                    <br>Proponents: Professor Neuborne, Kristin Eberhard
                    <br>Feasibility: Would only require an act of Congress (no amendment) and would be decided state-by-state, meaning the whole nation would not have to agree 
                    <br>What it fixes:
                    <br>Read more: 
                    <a href="https://www.wsj.com/articles/divide-states-to-democratize-the-senate-1542672828">
                    Neuborne WSJ Opinion piece</a>, 
                    <a href="https://thefulcrum.us/congress/redrawing-state-lines">
                        Eberhard in the Fulcrum</a>
                    <br>Partisanship: Neutral, probably
                    

                </p>
            </div>
            <div class="col-12">
                <h3>Redraw the Whole Thing</h3>
                <p>
                    Going even further, we could redraw the entire map. There have been 
                    <a href="https://www.mentalfloss.com/article/57444/map-only-38-states">
                        a number</a>
                    <a href="">
                        
                    </a>

                    [a number] [of different] [maps] proposed over the years, but the general ideas are to create states which are more equally sized or more representative of cultural and economic boundaries. Plenty of states have extremely distinct sub-areas: eastern Oregon, for instance, 
                    <a href="https://www.nytimes.com/2021/05/21/us/oregon-idaho-secession.html">
                        is trying to</a> 
                    become part of Idaho.
                    <br>Proponents: 
                    <br>Feasibility:
                    <br>What it fixes:
                    <br>Read more: Neuborne WSJ OpEd, Book
                    <br>Partisanship:
                    
                </p>
            </div>
        </div>  

        <!-- abolish -->
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-blue">
                    <h2 class="text-center">Abolish the Senate</h1>
                </div>
            </div>
            <div class="col-12">
                <p>
                    DESCRIPTION: Remove the Senate entirely. This is the most extreme and most difficult option but it would certainly fix the Senate’s problems. Former Representative John Dingell 
                    <a href="https://www.theatlantic.com/ideas/archive/2018/12/john-dingell-how-restore-faith-government/577222/">
                    suggested</a> 
                    combining the two chambers of Congress into one. Other options include simple abolition or replacement with a citizen’s veto. 
                    <br>Proponent(s): John Dingell, ??
                    <br>Feasibility: Would require a constitutional (article V) convention, which would be the first since 178?. 
                    <br>What it fixes: Everything, maybe! It’s a chance for a clean slate
                    <br>Partisanship: Favors Democrats, because the GOP is 
                    <a href="https://fivethirtyeight.com/features/the-congressional-map-is-historically-biased-toward-the-gop/">
                    consistently overrepresented</a> 
                    in the Senate
                    <br>Read more: Atlantic article, memoir
                    
                </p>
            </div> 
        </div>  

    </div>

    <!-- SRA & Filibuster -->
    <!-- header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-2">
                    <h1 class="text-center">The Senate Reform Act & the Pro-Majoritarian Filibuster</h1>
                </div>
            </div>
        </div> 
    </div>

    <div class="container">
        <div class="row">
            <!-- text  -->
            <div class="col-12">
                <p>
                    In this proposal, I will advocate for the Senate Reform Act proposed by Professor Eric Orts, combined with the pro-majoritarian filibuster from Gould et al. 
                </p>
            </div>

        </div><hr>

        <!-- how it works -->
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-blue">
                    <h2 class="text-center">HOW IT WORKS</h1>
                </div>
            </div>
            <div class="col-12">
                <h3>The Senate Reform Act</h3>
                <p>
                    The mathematics of the Orts proposition work as follows. 
                    <br><br>First, get our “unit” number by dividing the population by 100. (This could be another number; 100 just results in about 100 Senate seats like we have now, and the math is easy to do.) Using the recently released 2020 census data, our unit is 3,307,597 people. Next, divide every state’s population by this number, to get the ratio between the unit and the state population. 
                    <br><br>Using these numbers, we assign Senate seats. Any number with less than one unit gets 1 seat. Beyond one unit, we round normally: states with a ratio of X.5 or above get X+1, states below X.5 get X. The results:
                </p>
                <ul>
                    <li>
                        1 seat - 26 states 
                    </li>
                    <li>
                        2 seats - 12 states 
                    </li>
                    <li>
                        3 seats - 5 states 
                    </li>
                    <li>
                        4 seats - 3 states 
                    </li>
                    <li>
                        6 seats - New York
                    </li>
                    <li>
                        7 seats - Florida 
                    </li>
                    <li>
                        9 seats - Texas 
                    </li>
                    <li>
                        12 seats - California
                    </li>
                </ul>
                <p>
                    The end result is 111 senators from the 50 states. These seats would be updated with the decennial census like the House already does. 
                    <br><br>Problems Remain: This is more proportional, but some states still have much more per-voter power than others. In general, the very smallest states still have the most disproportionate advantage, but after that it is at least somewhat more random. 
                    
                </p>
            </div> 
            <div class="col-12">
                <h3>The Pro-Majoritarian Filibuster</h3>
                <p>
                    Democratizing the Senate from Within suggests a change to the cloture rules so that debate can be closed by, instead of 60 senators, a majority of the population. This “nukes the filibuster” insofar as only 50 senators are now needed for cloture, but it requires a popular majority in addition to this senate majority. For instance, this would mean that in the current system the 25 smallest states could not collectively call for a bill to be voted on, even though they comprise 50 senators, because those senators only represent approximately 15% of the U.S. population.  
                </p>
            </div> 
        </div>  

        <!-- what it means -->
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-blue">
                    <h2 class="text-center">WHAT IT MEANS</h1>
                </div>
            </div>
            <div class="col-12">
                <p>
                    The SRA doesn’t result in perfect representation. The senator from Wyoming still only represents 576 thousand people, while the Louisiana senator represents 4.7 million. But at least this ratio is now 8 to 1, as opposed to the current 67 to 1.
                    <br><br>[comparison graph!]
                    <br><br>More equal representation makes a difference, too. Two senators do not have as much power, time, or influence as 12, and we see that reflected in the current political system: per capita, many small states receive much more federal funding than large states. [other examples?]
                    <br><br>In addition to more representation, this gives interesting choices for the larger states to elect their senators differently. States could hold senate elections with Ranked Choice Voting, which would likely result in much purpler states in the Senate race. So not only is there more even representation, but also more chance for people in big states to be represented by a senator of their party. 
                    <br><br>A few other interesting repercussions follow from this act. For instance, it’s probable that new states would have an easier route to statehood, as one senator is easier to stomach than 2 for the party less likely to gain that seat. 
    
                    <br><br>This is potentially much better than removing the filibuster entirely, because it guards against the problem of minority rule – nuking the filibuster is good in that it gives the majority party more power and the minority party has less of a stranglehold, but that’s only more democratic if the majority party actually represents the popular majority. In the current situation of disproportionate small-state representation favoring the Republicans, this is not guaranteed. In fact, the Republican party has held a Senate majority in 12 of the last 20 years but has never represented more than half of the U.S. population in that time. 
                    <br><br>Problems remain: The “fix” here is that it makes representation unequal in both directions: the advantage of large states is that the votes of their senators are very valuable, but the small states are still disproportionally represented and needed for the Senate majority. This is certainly fairer than the current system, but balancing inequality with inequality is not an ideal solution.               

                </p>
            </div> 
        </div>  
        
        <!-- constitutionality -->
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-blue">
                    <h2 class="text-center">CAN WE DO IT I: CONSTITUTIONALITY</h1>
                </div>
            </div>
            <div class="col-12">
                <p>
                    Orts argues, thoroughly, that his proposal is constitutional. As he is a law professor and I am decidedly not, I have left that argument to him, but you may read it 
                    <a href="https://search.proquest.com/pqrl/docview/2281098739/1843BBEEEB00414FPQ/1?accountid=9772">
                    here</a> 
                    (pp. 2010-y). For the purposes of this page/paper, we assume that the Senate Reform Act is constitutionally viable. 
                    <br><br>Filibuster reform is indisputably constitutionally viable. It would only require a change in Senate rules, which is something that the Constitution explicitly leaves entirely to the Senate, and is little different than any other change to the filibuster in recent times (e.g. when it was removed for the purposes of judicial confirmations). 
                    
                </p>
            </div> 
        </div>  
        <!-- feasibility -->
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-blue">
                    <h2 class="text-center">CAN WE DO IT II: POLITICAL FEASIBILITY</h1>
                </div>
            </div>
            <div class="col-12">
                <h3>SRA</h3>
                <p>
                    The Senate Reform Act is a non-partisan suggestion and does not clearly benefit either party. It likely is slightly more attractive to Democrats, because it corrects for 
                    <a href="https://fivethirtyeight.com/features/the-senate-has-always-favored-smaller-states-it-just-didnt-help-republicans-until-now/">
                    small state bias towards republicans</a>, 
                    but it has its own advantages for the GOP. Splitting bigger states into several senators allows Republicans to compete in big blue states like California that they currently have no chance in. 
                    <br><br>That said, this particular formulation of the SRA is directly harmful to the interests of the 26 states which would all lose a senator. This is likely the largest political obstacle to the Act, and Orts suggests a Rule of Two Hundred might be more palatable, using 2 senators as a floor rather than one. 
                    
                </p>
            </div> 
            <div class="col-12">
                <h3>Filibuster</h3>
                <p>
                    In the short term, the pro-majoritarian cloture rule benefits Democrats. It is in fact even more to the Democrats’ advantage than simply removing the filibuster, because at present a minority of people live in red states, so the Republican party is unlikely to have both a popular and a Senate majority. However, it also may appeal to moderate Democrats, since it is explicitly fairer and more representative of the people. 
                    <br><br>The place where this could get Republican support is if it were combined with the Senate Reform Act, actually. Republicans in Congress currently represent a minority of the population specifically because larger states tend to be blue, but if those states get more senators and turned purple, that problem goes away. 
                    
                </p>
            </div> 
        </div> 

    </div>


    <!-- CONCLUSION -->
    <!-- header -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="jumbotron jumbotron-fluid bg-2">
                    <h1 class="text-center">Conclusion</h1>
                </div>
            </div>
        </div> 
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    ?????
                </p>
            </div> 

        </div>  
    </div>


    <!-- FOOTER -->
    <footer class="footer">
      <span class="bottom">Isabelle Sanford  |</span>
      <!-- <a class="footer-data" href="https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-detail.html" target="_blank" title="Download Open Source Senate Data"><i class="fa fa-fw fa-2x fa-cloud-download"></i><span>Download Data</span></a> -->
      <a class="footer-data" href="../templates/about" title="Download Open Source Senate Data"><i class="fa fa-fw fa-2x fa-cloud-download"></i><span>Sources & Data</span></a>
      <!-- commented out census link and point href to data.html page -->
      <!-- target="_blank" opens data page in new tab >>> remove if we keep href as data.html -->
    </footer>


        
    <!-- SCRIPTS -->
    <!-- bootstrap? -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <!-- d3 -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- plotly -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- MINE -->




  </body>

</html>

<!-- photo credit for jumbotron -->
<!-- By Martin Falbisoner - &lt;span class=&quot;int-own-work&quot; lang=&quot;en&quot;&gt;Own work&lt;/span&gt;, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=28359031">Link</a> -->